extends layout

block rightside
    -data = data || {}

    if errors
        ul.my-errors
            for error in errors
                li(class="li-error")= error.msg
    form(action="." method="POST" class="form-registration" )
        h2 Register to subscribe
        label(for="name" class="name") Name:
        input(
            type="text"
            id="name"
            name="name"
            class="form-control name"
            value=data.name
        )

        label(for="email" class="email") Email:
        input(
            type="email"
            id="email"
            name="email"
            class="form-control email"
            value=data.email
        )

        label(for="username" class="email") Username:
        input(
            type="text"
            id="username"
            name="username"
            class="form-control email"
            value=data.username
        )

        label(for="password" class="email") Password:
        input(
            type="password"
            id="password"
            name="password"
            class="form-control email"
            value=data.password
        )

        input(
            type="submit" 
            value="Submit"
            class="btn btn-lg btn-primary btn-block"
        )