extends layout

block rightside
    -data = data || {}

    if errors
        ul.my-errors
            for error in errors
                li(class="li-error")= error.msg
    form(action="." method="POST" class="form-registration" )
        h2 Register to subscribe
        label(for="name" class="name") Name:
        input(
            type="text"
            id="name"
            name="name"
            class="form-control name"
            value=data.name
        )

        label(for="email" class="email") Email:
        input(
            type="email"
            id="email"
            name="email"
            class="form-control email"
            value=data.email
        )

        input(
            type="submit" 
            value="Submit"
            class="btn btn-lg btn-primary btn-block"
        )